/* Gen styling */

body {
    background-color: rgb(56 83 164);
    padding: 20px;
    text-align: center;
}

/* styling for players div*/

#gameDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: American Typewriter, serif;
}

/* styling for player*/

#player {
    display: flex;
    padding: 3%;
    color: red;
    background-color: white;
    font-size: 28px;

}

#player img {
    display: flex;
    height: 40px;
    width: auto;
}

#playerText {
    color: white;

}


/* styling for computer*/

#computer {
    display: flex;
    padding: 3%;
    color: red;
    background-color: white;
    font-size: 28px;
}

#computer img {
    display: flex;
    height: 40px;
    width: auto;
}

#computerText {
    color: white;

}

/* styling for button*/

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    height: auto;
    width: 100px;
    cursor: pointer;
    background-color: white;
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.btn img {
    display: flex;
    flex-wrap: wrap;
    height: 90px;
    width: auto;
}

.btn:hover {
    transform: scale(1.5);

}

/* styling for score/result/times*/
#result {
    color: #ff0000;
    font-size: 3em;
}

#score {
    color: white;
    font-size: 1.5em;
}

#playerScore {
    color: #ff0000;
    font-weight: bold;
    font-size: 1.5em;
}

#scoreP {
    color: white;

}

#computerScore {
    color: #ff0000;
    font-weight: bold;
    font-size: 1.5em;
}

#scoreC {
    color: white;
}

#tries {
    color: #ff0000;
    font-weight: bold;
}

#triesRemaining {
    color: white;
}

#winner {
    color: #020202;
    font-size: 3em;
    font-style: oblique;
    border: #ff0000;
}

/* styling for Reset button*/

#reset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5em;
    margin-block-start: 1.5em;
    align-self: flex-start;
    padding: 10px 20px;
}


#resetbtn {
    padding: 10px 20px;
    background-color: #ff0000;
    color: black;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}