/* Gen styling */

body {
    background-color: rgb(56 83 164);
    padding: 20px;
    text-align: center;
}

/* styling for players div*/

#gameDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: American Typewriter, serif;
}

/* styling for player*/

#player {
    display: flex;
    padding: 3%;
    color: red;
    background-color: white;
    font-size: 28px;
    
}

#player img {
    display: flex;
    height: 40px;
    width: auto;
}

#playerText{
    color:white;
    
}


/* styling for computer*/

#computer {
    display: flex;
    padding: 3%;
    color: red;
    background-color: white;
    font-size: 28px;
}

#computer img {
    display: flex;
    height: 40px;
    width: auto;
}

#computerText{
    color:white;
  
}

/* styling for button*/

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    height: 100px;
    width: 100%;
    margin-top: 15%;
}

.Btn {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    height: auto;
    width: 100px;
    cursor: pointer;
    background-color: white;
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.Btn img{
    display: flex;
    flex-wrap: wrap;
    height: 90px;
    width: auto;
}

.Btn:hover img {
    transform: scale(2.0);
}

/* styling for score/result*/
#result {
    color: red;
}

#score{
    color: white;
}

#playerScore{
    color:red;
    font-weight: bold;
    font-size: 20px;
}

#scoreP{
    color:white;

}

#computerScore{
    color:red;
    font-weight: bold;
    font-size: 20px;
}
#scoreC{
    color:white;

}

/* styling for Reset button*/

#reset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5em;
    margin-block-start: 1.5em;
    align-self: flex-start; 
    padding:10px 20px;
}


#resetBtn {
    padding:10px 20px;
    background-color: red;
    color:black;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
  
   
    
    
}