body{
    background-color: rgb(56 83 164);
    padding: 10px;
    text-align: center;
    
}

#gameDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: American Typewriter, serif;
}

#player{
    display:flex;
    padding: 3%;
    color: red;
    background-color: white;
}

#player img{
    display: flex;
    height: 40px;
    width: auto;
}

#computer{
    display: flex;
    padding: 3%;
    color:red;
    background-color: white;
}

#computer img{
    display: flex;
    height: 40px;
    width: auto;
}

.buttonContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    height: 100px;
    width: 100%;
    

}